html {
    transition: all 100ms ease-in-out;
    background-color:#0E0E10;
}

.uk-card {
    background-color: #18181B;
    color: #EFEFF1;
}

.uk-article-meta {
    color: #D3D3D9;
}

.uk-input {
    background-color: #26262C;
    color: #EFEFF1;
}

.uk-input:focus {
    background-color: #26262C;
    border-color: #2A84ED;
    color: #EFEFF1;
}

.evalkyrie {
    background-color: #D3D3D9;
    color: #18181B;
}

.evalkyrie .uk-input {
    background-color: #FFFFFF;
    color: #0E0E10;
}

#logo {
    position: relative;
    bottom: 0;
    transition: all 50ms ease-in-out;
}

#logo:hover {
    bottom: 2px;
}

#logo:active {
    bottom: -5px;
}

button {
    position: relative;
    bottom: 0;
    transition: all 100ms ease-in-out;
}

button:hover {
    bottom: 1px;
}

button:active {
    bottom: -3px;
}

div {
    position: relative;
    bottom: 0;
    transition: all 50ms ease-in-out;
}

div:hover {
    bottom: 2px;
}

div:active {
    bottom: -5px;
}